.heading {
  &-one {
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
    margin: unset;
    font-weight: 600;
    font-family: $times-new-roman-font;
  }
  &-two {
    font-size: 2rem;
    margin: unset;
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-family: $times-new-roman-font;
  }
}

.label {
  &-primary {
    color: $label-primary-color;
    font-size: $label-primary-size;
    border-bottom: $label-primary-border-bottom;
    padding: $label-primary-padding;
    margin: unset;
    font-weight: $label-primary-font-weight;
    font-family: $label-primary-font-family;
  }
  &-tertiary {
    color: $label-tertiary-color;
    font-size: $label-tertiary-size;
    padding: $label-tertiary-padding;
    margin: unset;
    font-weight: $label-tertiary-font-weight;
    font-family: $label-tertiary-font-family;
  }
}

.summary-text {
  color: $summary-text-color;
  font-size: $summary-text-size;
  padding: $summary-text-padding;
  line-height: $summary-text-line-height;
  font-family: $summary-text-font-family;
  margin: unset;
  text-align: justify;
}
